
                <form method="get" >
                    <div class="form-group">
                        <label for="emailS">Email</label>
                        <input type="text" class="form-control" placeholder="=Enter Email" name="email" value="">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" placeholder="=Enter Password" name="password" value="">
                    </div>
                    <div class="form-group">
                         <button class="btn btn-block btn-primary" type="submit">Login</button>
                    </div>
                    <br>
                    <a href="registration">new User !! Register here</a>
                </form>
          